@page "/customerSubmission/{customerSubmissionId}/Cancel"
@using ReimbursementPoC.Blazor.UI.Model;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Admin")]
<h2>Cancel Customer Submission</h2>
<br />

@if (!string.IsNullOrWhiteSpace(Notification))
{
    <div class="col-md-4 text-success">
        @Notification
    </div>
}
@if (!string.IsNullOrWhiteSpace(Error))
{
    <div class="col-md-4 text-danger">
        @Error
    </div>
}
<div class="form-group">
    <h4>Do you want to cancel this Customer Submission?</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Vendor Name</td>
                <td>@submission.VendorName</td>
            </tr>
            <tr>
                <td>Service</td>
                <td>@submission.ServiceFullName</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@submission.Description</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <input type="submit" value="Confirm" @onclick="(async () => await CancelCustomerSubmission(submission.Id))" class="btn btn-danger" />
    <input type="submit" value="Return" @onclick="(() => Cancel())" class="btn btn-warning" />
</div>

@code {
    [Parameter]
    public string customerSubmissionId { get; set; }
    public string Notification { get; set; }
    public string Error { get; set; }
    CustomerSubmissionDto submission = new CustomerSubmissionDto();

    protected override async Task OnInitializedAsync()
    {
        submission = await Http.GetFromJsonAsync<CustomerSubmissionDto>("/customer/api/CustomerSubmissions/" + customerSubmissionId);
    }

    protected async Task CancelCustomerSubmission(Guid id)
    {
        var result = await Http.PutAsJsonAsync("/customer/api/CustomerSubmissions/" + id + "/cancel", submission);
        if (result.IsSuccessStatusCode)
        {
            Error = "";
            Notification = "Submission was succesfully canceled";

            Task.Run(async () =>
            {
                await Task.Delay(TimeSpan.FromSeconds(3));
                NavigationManager.NavigateTo($"/customerSubmission/list");
            });
        }
        else
        {
            Error = $"Error: {await result.Content.ReadAsStringAsync()}";
        }
    }

    void Cancel()
    {
        NavigationManager.NavigateTo($"/customerSubmission/list");
    }
}