@page "/vendorSubmission/list"
@using Microsoft.AspNetCore.Authorization;
@using ReimbursementPoC.Blazor.UI.Model;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]
<h1>Vendor Submission List</h1>
<p>Blazor CRUD operation</p>
<hr />

<div class="row">
    <div class="col-md-6">
        <a href='/vendorSubmission/add' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Vendor Submission
        </a>
    </div>
    @*<div class="input-group col">
    <input type="text" class="form-control" placeholder="Search user by name"
    @bind="SearchString" @bind:event="oninput" @onkeyup="FilterUser" />
    @if (SearchString.Length > 0)
    {
    <div class="input-group-append">
    <button class="btn btn-danger" @onclick="ResetSearch">
    <i class="fas fa-times"></i>
    </button>
    </div>
    }
    </div>*@
</div>
<br />

@if (submissions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>Id</th>
                <th>ServiceId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in submissions)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ServiceId</td>
                    <td>
                        @if (!item.IsCanceled)
                        {
                            <a href='/vendorSubmission/delete/@item.Id' class="btn btn-outline-danger" role="button">
                                Delete
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected List<VendorSubmissionDto> submissions = new();

    private int defaultLimit = 5;
    private int CurrentOffset = 0;

    protected override async Task OnInitializedAsync()
    {
        await GetVendorSubmissionAsync();
    }

    protected async Task GetVendorSubmissionAsync()
    {
        var result = await Http.GetFromJsonAsync<PaginatedList<VendorSubmissionDto>>($"/vendor/api/VendorSubmissions?offset={CurrentOffset}&limit={defaultLimit}");

        submissions.Clear();
        submissions.AddRange(result.Items.ToList());

        CreatePaginationLinks(result.Page);
    }

    private List<PagingLink> _links = new List<PagingLink>();

    private void CreatePaginationLinks(Page page)
    {
        _links.Clear();
        var totalPageCount = (page.Total / defaultLimit) + ((page.Total % defaultLimit) > 0 ? 1 : 0);
        var currentPage = (page.Offset / defaultLimit) + 1;
        var countOfVisualPages = 5;

        if (currentPage != 1)
        {
            _links?.Add(new PagingLink
                {
                    Active = false,
                    Text = "First",
                    Offset = 0
                });
        }

        for (int i = ((currentPage - countOfVisualPages) > 0 ? (currentPage - countOfVisualPages) : 1); i < currentPage; i++)
        {
            _links?.Add(new PagingLink
                {
                    Active = i == currentPage,
                    Text = i.ToString(),
                    Offset = (i - 1) * defaultLimit
                });
        }

        for (int i = currentPage; i <= ((currentPage + countOfVisualPages) > totalPageCount ? totalPageCount : (currentPage + countOfVisualPages)); i++)
        {
            _links?.Add(new PagingLink
                {
                    Active = i == currentPage,
                    Text = i.ToString(),
                    Offset = (i - 1) * defaultLimit
                });
        }


        if (currentPage <= totalPageCount && currentPage != totalPageCount)
        {
            _links?.Add(new PagingLink
                {
                    Active = false,
                    Text = "Last",
                    Offset = (int)((totalPageCount - 1) * defaultLimit)
                });
        }
    }

    private async Task OnSelectedPage(PagingLink link)
    {
        CurrentOffset = link.Offset;
        await GetVendorSubmissionAsync();
    }
}